/* .hano{
    background-color: blue;
    text-align: center;
    text-decoration: chartreuse;
    border: 5px solid:gray;
}  */
. h1{
   
}
.one{ 
    text-align: center;
    

}
.all{
    display: none;
    
/* }#about-us{
    text-align: center;
}
#servises{
    text-align: center;
} */
}
.hano{
    text-align: center;
    
}
#babu{background-image: url(/img/h_img.jpg);
background-size: cover;
}
#service{
    background-image: url(/img/s_image.jpg) ;   
    color: white;
    background-size: cover;

}


.text-wrapper{
 color: white;
 text-align: center;
   

}