/* .hano{
    background-color: blue;
    text-align: center;
    text-decoration: chartreuse;
    border: 5px solid:gray;
}  */
. h1{
   
}
.one{ 
    background-color: darkblue;
    text-align: center;
    text-decoration: darkmagenta;
    border: 5px;

}
.all{
    display: none;
    
/* }#about-us{
    text-align: center;
}
#servises{
    text-align: center;
} */
}
.hano{
    text-align: center;