/* .hano{
    background-color: blue;
    text-align: center;
    text-decoration: chartreuse;
    border: 5px solid:gray;
}  */
. h1{
    background-color: darkblue;
    text-align: center;
    text-decoration: darkmagenta;
    border: 5px;
}